@import "../../assets/styles/index.scss";

.layout {

   min-height: 100vh;
   width: 100%;

   display: flex;
   flex-direction: column;

   .main {
      width: 100%;
   }

   .footer {
      margin-top: auto;
   }
}